<div class="row">
  <div class="col-md-8 posts">
    <h1>Listing posts</h1>
    <br>
    <% @posts.each do |post| %>
    <article class="post">

      <h2><%= link_to post.title, post %></h2>
      <% if post.type.name == 'Link' %>
      <%= link_to post.content, post.content %>
      <% end %>
      <br>
      <span>Type : <%= post.type.name %></span>
      <% if post.user && post.user.name %>
       | <span class="pull-right">Author : <%= post.user.name %></span>
      <% end %>
      <div class="clearfix"></div>
      <ul class="tags pull-right">
        <li class="title">
          <h4>Tags </h4>
        </li>
        <% post.tags.each do |tag| %>
          <li class="single-tag pull-right">
            <%= link_to tag.name, { :action => :tag, :id => tag.name }%>
          </li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
      </article>
    <% end %>
  </div>
  <div class="col-md-4 tagcloud">
    <h1>Tag Cloud</h1>
      <br>
      <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
        <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
      <% end %>
    <hr>
    <h1>Add New Post</h1>
    <br>
    <div>
      <%= render 'posts/form'%>
    </div>
  </div>
</div>
